<div class="container my-5">
  <div>
    <div class ="px-3">

      <h1> Welcome <%= @user.first_name %> !</h1>
  <!-- Section: list of item to sell -->

      <h2>Current items on sell</h2>
    </div>

<!-- table for Items on sell -->
    <div class="card shadow-none">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ref no.</th>
            <th scope="col">Picture</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>

            <th scope="col">Posting date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
<!-- body of item on sell -->
        <% @user.items.where(sold: false).each do |item| %>
        <tbody>
          <tr>
            <th scope="row"><%= item.id %></th>
            <td><%= cl_image_tag item.photo, class:"item-photo" %></td>
            <td><%= item.title %></td>
            <td><%= item.category%></td>
            <td><%= item.location %></td>
            <td><%= item.price %> €</td>
            <td><%= item.created_at.strftime("%Y-%m-%d") %></td>
            <td> <%=  %>
            </td>

            <td><%=  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<!-- end of the Items on sell table -->

<!-- Section: pending purchases -->
    <div class="px-3">
      <h2>Pending purchases</h2>
    </div>
<!-- table for pending purchase -->
    <%= render 'table_for_buy', transactions: @transactions.where(status: "pending") %>
<!-- end of the pending purchase table -->


<!-- Section: Historical sold items -->
    <div class="px-3">
      <h2>Historic of sold items</h2>
    </div>

<!-- table for historical sold items -->
  <%= render 'table_for_sell', items: @user.items.where(sold: true) %>
<!-- end of the sold items table -->


<!-- Section: Historical purchase -->
    <div class ="px-3" >
      <h2>Historic of purchases</h2>
    </div>
<!-- table for historical purchases -->
  <%= render 'table_for_buy', transactions: @transactions.where(status: "accepted") %>
<!-- end of the purchases table -->
  </div>
</div>
