<% flash.each do |key,value| %>

<% if key == "success" %>
<div class="<%= flash_class(key) %> flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> <%= value %>   </span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<% elsif key == "notice" %>

<div class="alert alert-success flash flash-success alert alert-dismissible fade show" role="alert">
  <span> You have <%= value %>   </span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<% elsif key == "error" %>

<div class="<%= flash_class(key) %> flash flash-danger flash-dismissible fade show" role="alert">
  <span><strong>Oops!</strong> a problem has occurred while processing your <%= value %>.   </span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<% end %>

<% end %>
