<div class="navbar navbar-expand-sm navbar-light navbar-lewagon w3-top">
  <div class="navbar-brand-name">
    <%= link_to root_path do %>
      Mat<strong>3R</strong>ial
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <% if user_signed_in? %>
        <%#= cl_image_tag current_user.photo, class: "avatar" %>
        <i class="fas fa-user text-white pr-2"></i>
        <%= current_user.email %>
      <% else %>
        <%= link_to new_user_session_path do %>
         Log in
        <% end %>
      <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to destroy_user_session_path, method: :delete do %>
           Sign Out
          <% end %>
      <% else  %>
        <li class="nav-item active">
          <%= link_to new_user_registration_path do %>
           Sign up
          <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</div>
