<div class="container-link m-3">
  <div class= "row">
    <div class= "search-link-back">
      <%= link_to '<< Back to list', '/' %>
    </div>
  </div>
</div>
<div class= "row">
  <div class="col-sm-12 col-md-12 col-lg-6">
    <div>
      <h4>Refine your search</h4>
    </div>
    <div class= "filter-list">
      <ul>
        <li class = "filter-item">
          <div class = "filter-item-content">
            <form class="form-inline" action="search/filter" method="get">
              <select id="inputState" class="form-control" name="category">
                <option selected>Category</option>
                  <% @categories.each do |c| %>
                    <option><%= c %></option>
                  <% end %>
              </select>
              <button type="submit" class="btn btn-success">Search</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
    <h2> These are the items that we found for you:</h2>
    <div class="card-all-results mx-1">
      <% @items.each do |item| %>
        <div class="card flex-row flex-wrap card-results">
          <%= cl_image_tag item.photo, class: "card-img-left" %>
          <div class="card-body d-flex flex-column justify-content-end">
            <h4 class="card-title"><%= link_to item.title, item_path(item)%></h3>
            <h4><%= item.description %></h4>
            <h5><%= item.price %>€</h5>
            <p><%= item.location %></p>
            <p><%= item.category %></p>
          </div>
        </div>
      <% end %>
      <%#= link_to " 🗑", delete_path(task), method: :delete,
          data:{confirm: "are you sure?"}%>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 sticky-top">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
