<div class="banner-image">
  <div class="input-group flex-nowrap search-bar justify-content-between" style="width: 900px">
    <form class="form-inline" action="/search", method="get">
      <div class="form-row align-items-center">
        <input type="text" class="form-control fle-grow" placeholder="find what you are looking for" aria-label="text" aria-describedby="addon-wrapping" style="width: 700px">
        <div class="col-auto">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="text-left mx-5 my-3">
  <h2>List of material</h2>
</div>
<div class="all-item-cards mx-1">
  <% @items.each do |item| %>

    <% if item.sold? %>
        <p>☑</p>
      <% else %>
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag item.photo %>
          <div class="card-body d-flex flex-column justify-content-end">
            <h4><%= link_to item.title, item_path(item)%></h3>
            <h4><%= item.description %></h4>
            <h5><%= item.price %>€</h5>
            <p><%= item.location %></p>
            <p><%= item.category %></p>
          </div>
        </div>
      <% end %>



    <%#= link_to " 🗑", delete_path(task), method: :delete,
        data:{confirm: "are you sure?"}%>
  <% end %>
 </div>
<%#= link_to "+ create new task", tasks_new_path%>
