<div class="container my-2">
  <div class="container-link m-3">
    <%= link_to '<< Back', '/' %>
  </div>

  <div class="row">

    <!-- title + image -->
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="d-flex flex-column justify-content-around">
        <div class="mx-3">
          <h1>
            <%= @item.title %>
          </h1>
        </div>
        <div class="card-top">
          <%= cl_image_tag @item.photo, class: "card-img-top"%>
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text"><%= @item.description %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- item info -->
    <div class="col-sm-12 col-md-6 col-lg-4">

      <div class="card-info">
        <div class="card-header text-capitalize text-muted">
          <h5>Item</h5>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex justify-content-between align-middle">
            <p class="font-weight-bold">Category</p>
            <p><%= @item.category %></p>
          </div>
          <div class="list-group-item d-flex justify-content-between align-middle">
            <p class="font-weight-bold">Location</p>
            <p><%= @item.location %></p>
          </div>
          <div class="list-group-item d-flex justify-content-between align-middle">
            <p class="font-weight-bold">Price</p>
            <p><%= @item.price %> €</p>
          </div>
        </div>

        <!-- conditional function to prevent the creation of multiple by requests -->


        <!-- if there is an accepted transaction -->
        <% if @item.transactions.where(status: "accepted").any? %>
          <div class="card-body d-flex justify-content-center">
            <%= link_to 'sold', "#", class: "btn btn-outline-secondary disabled btn-sm btn-block p-2", style:"width:100%"%>
            <%# link_to 'See Location', '/', class: "btn btn-outline-secondary disabled btn-sm py-2 px-4"%>
          </div>

        <!-- elsif there is a pending transaction -->
        <% elsif @item.transactions.where(status: "pending").any? %>
          <div class="card-body d-flex justify-content-center">
            <%= link_to 'Pending', "#", class: "btn btn-outline-secondary disabled btn-sm btn-block p-2", style:"width:100%"%>
            <%#= link_to 'See Location', '/', class: "btn btn-success btn-sm py-2 px-4"%>
          </div>

        <!-- elsif the item belongs to the user -->
        <% elsif @item.user == current_user %>
          <div class="card-body d-flex justify-content-center">
            <%= link_to 'This item is yours', "#", class: "btn btn-outline-secondary disabled btn-sm btn-block p-2", style:"width:100%"%>
            <%#= link_to 'See Location', '/', class: "btn btn-success btn-sm py-2 px-4"%>
          </div>


        <!-- else, if there are no transactions, or only declined ones then its business as usual -->
        <% else %>
          <div class="card-body d-flex justify-content-center">
            <%= link_to 'Request', item_transactions_path(@item), method: :post, class: "btn btn-success btn-sm btn-block p-2", style:"width:100%"%>
            <%#= link_to 'See Location', '/', class: "btn btn-success btn-sm py-2 px-4"%>
          </div>
        <% end %>
      </div>

      <!-- Seller info -->
      <% if user_signed_in? %>
        <div class="card-info">
          <div class="card-header text-capitalize text-muted d-flex align-content-center">
            <div class="container-avatar pr-3">
              <%= cl_image_tag @item.user.photo, class: "avatar" %>
            </div>
            <div class="container-title flex-end">
              <h5>Seller</h5>
            </div>
          </div>
          <div class="card-body">
            <p><i class="fas fa-user text-muted pr-2"></i><%= @item.user.first_name %> <%= @item.user.last_name %></p>
            <p><i class="fas fa-map-marker-alt text-muted pr-2"></i>from <%= @item.location %></p>
            <% if current_user == @item.user %>
              <div class="pt-1">
                <%= link_to 'This item is yours', '/', class: "btn btn-outline-secondary btn-sm btn-block p-2 disabled"%>
              </div>
            <% else %>
              <div class="pt-1">
                <%= link_to 'Contact seller', '/', class: "btn btn-success btn-sm btn-block p-2"%>
              </div>
            <% end %>
          </div>
        </div>

      <% else %>
        <div class="card-info">
          <div class="card-header text-capitalize text-muted d-flex align-content-center">
            <div class="container-avatar pr-3" style="filter: blur(5px)">
              <%= cl_image_tag @item.user.photo, class: "avatar" %>
            </div>
            <div class="container-title flex-end">
              <h5>Seller</h5>
            </div>
          </div>
          <div class="card-body" style="filter: blur(5px)">
            <p><i class="fas fa-user text-muted pr-2"></i><%= @item.user.first_name %> <%= @item.user.last_name %></p>
            <p><i class="fas fa-map-marker-alt text-muted pr-2"></i>from <%= @item.location %></p>
            <div class="pt-1">
              <%= link_to 'Contact seller', '/', class: "btn btn-success btn-sm btn-block p-2"%>
            </div>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>
