<div class="container my-5 min-vh-100 position-relative">
  <div class="container-link m-3">
    <%= link_to '<< Back to list', '/' %>
  </div>
  <div class="row">
    <!-- title + image -->
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="mx-3">
        <h1>
          <%= @item.title %>
        </h1>
      </div>
      <div class="card">
        <%= cl_image_tag @item.photo, class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text"><%= @item.description %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <!-- item info -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header text-capitalize text-muted">
          <h5>Item</h5>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex justify-content-between align-middle">
            <p class="font-weight-bold">Category</p>
            <p><%= @item.category %></p>
          </div>
          <div class="list-group-item d-flex justify-content-between align-middle">
            <p class="font-weight-bold">Location</p>
            <p><%= @item.location %></p>
          </div>
          <div class="list-group-item d-flex justify-content-between align-middle">
            <p class="font-weight-bold">Price</p>
            <p><%= @item.price %> €</p>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between">
          <%= link_to 'Request', '/', class: "btn btn-success btn-sm py-2 px-4"%>
          <%= link_to 'See Location', '/', class: "btn btn-success btn-sm py-2 px-4"%>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-capitalize text-muted d-flex align-content-center">
          <div class="container-avatar pr-3">
            <%= cl_image_tag @item.user.photo, class: "avatar" %>
          </div>
          <div class="container-title flex-end">
            <h5>Seller</h5>
          </div>
        </div>
        <div class="card-body">
          <p><i class="fas fa-user text-muted pr-2"></i><%= @item.user.first_name %> <%= @item.user.last_name %></p>
          <p><i class="fas fa-map-marker-alt text-muted pr-2"></i>from <%= @item.location %></p>
          <div class="pt-1">
            <%= link_to 'Contact seller', '/', class: "btn btn-success btn-sm btn-block p-2"%>
          </div>
        </div>
      </div>
    </div>
    <!-- seller info -->
    <!-- <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-header text-capitalize text-muted">
        <h5>Seller</h5>
      </div>
      <div class="card-body">
        <p><i class="fas fa-user text-muted pr-2"></i><%= @item.user.first_name %> <%= @item.user.last_name %></p>
        <p><i class="fas fa-map-marker-alt text-muted pr-2"></i>from <%= @item.location %></p>
        <div class="pt-1">
          <%= link_to 'Contact seller', '/', class: "btn btn-success btn-sm btn-block p-2"%>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row">

  </div>
</div>
